$background-1: #ffffff;
$background-2: #ffffff80;
$background-3: #fafafa;
$background-4: #f7f8fa;
$background-5: #e9d758;
$background-6: #e56768;
$background-7: #da5f60E6;
$background-8: #454545;
$background-9: #3d404f;
$background-10: #000000;
$background-11: #000000cc;


$text-1: #ffffff;
$text-2: #ffffffcc;
$text-3: #e9d758;
$text-4: #79b530;
$text-5: #e56768;
$text-6: #8b8b8a;
$text-7: #7f7f7f;
$text-8: #74777b;
$text-9: #70727e;
$text-10: #5c5e6c;
$text-11: #434959;
$text-12: #454545;
$text-13: #3d404f;
$text-14: #3f3f3f;
$text-15: #223441;
$text-16: #252525;
$text-17: #151515;
$text-18: #000000;


$fill-1: #ffffff;
$fill-2: #69de89;
$fill-3: #82b541;
$fill-4: #e56768;
$fill-5: #000000;


$border-1: #ffffff;
$border-2: #ececee;
$border-3: #e5ecef;
$border-4: #eaeaea;
$border-5: #e9d758;
$border-6: #cccccc;
$border-7: #79b530;
$border-8: #e56768;
$border-9: #000000;