@import './partials/var';
@import './partials/mixin';
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Source Sans Pro;
}

li {
  list-style: none;
}

img {
  width: 100%;
}

.ds-logo {
  width: 270px
}

.ds-circle {
  @include flex;
  margin-right: 10px;
  width: 50px;
  aspect-ratio: 1/1;
  border: 2px solid $border-5;
  border-radius: 50%;
}

.ds-button-1 {
  margin-left: 35px;
  padding: 20px 40px;
  border-radius: 50px;
  border: none;
  color: $text-1;
  background-color: $background-5;
}

