@import './partials/var';
@import './partials/mixin';



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

img {
  width: 100%;
}

.ds-logo {
  width: 270px
}

.ds-circle {
  @include flex;
  margin-right: 10px;
  width: 50px;
  aspect-ratio: 1/1;
  border: 2px solid $border-5;
  border-radius: 50%;
}

