@import './partials/var';
@import './partials/mixin';
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: Source Sans Pro;
}

li {
  list-style: none;
}

img {
  width: 100%;
}

input:focus {
  outline: none;
}

.ds-logo {
  width: 270px
}

.ds-circle {
  @include flex;
  margin-right: 10px;
  width: 50px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: $background-5;
  cursor: pointer;

  &:hover {
    background-color: $background-6
  }
}

.ds-button {
  padding: 20px 40px;
  border-radius: 50px;
  border: none;
}

.ds-button.ds-1 {
  color: $text-1;
  background-color: $background-5;

  &:hover {
    background-color: $background-6;
  }
}

.ds-button.ds-2 {
  color: $text-1;
  background-color: $background-6;

  &:hover {
    background-color: $background-5;
  }
}

.ds-button.ds-3 {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 50%);
  margin-left: 0;
  padding: 10px 20px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.201);
  font-size: 14px;
}

.ds-icon {
  width: 60px;
  margin-bottom: 30px;
}

.ds-a {
  text-decoration: none;
  color: $text-1;
}
